<tr>
  <td style="background-color: #ffffff; box-shadow: 0 0 0 1px rgba(92,106,196,.1);">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="padding: 20px 20px 0; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #001123;">
          <h1 style="margin: 0 0 10px 0; font-family: sans-serif; font-size: 25px; line-height: 30px; font-weight: normal;">Firestone Library Locker Assignment</h1>
        </td>
      </tr>
      <tr>
        <td style="padding: 5px 20px 0 20px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #001123;">
          <p style="margin: 0 0 5px 0; font-family: sans-serif; font-size: 18px; line-height: 22px; color: #333333;"><%= @locker_assignment.name %> is assigned to <b><%= @locker_assignment.location %></b></p>
        </td>
      </tr>
      <tr>
        <td style="padding: 5px 20px 0 20px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #001123;">
          <p style="margin: 0 0 5px 0; font-family: sans-serif; font-size: 18px; line-height: 22px; color: #333333;">Occupency expires on <b><%= @locker_assignment.expiration_date %></b></b></p>
        </td>
      </tr>
      <tr>
        <td style="padding: 5px 20px 0 20px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #001123;">
          <p style="margin: 0 0 5px 0; font-family: sans-serif; font-size: 18px; line-height: 22px; color: #333333;">Applied as <%= @locker_assignment.status_at_application %> in the <%= @locker_assignment.department %> Department</p>
        </td>
      </tr>
      <tr>
PRINCETON UNIVERSITY LIBRARY
LOCKER AGREEMENT


1.	I agree to charge out, at the Circulation Desk, all books placed in this locker. 
2.	I will return books to the Circulation Desk when I am finished using them or if they are recalled.
3.	I have no authority to transfer or lend this locker to any other person.
4.	I understand that no food or alcohol may be kept in the locker.
5.	The Library is not responsible for personal property in the        locker.
6.	I am responsible for any damage or mutilation to this locker, and agree to pay for any necessary repairs.
7.	I will release the locker upon the expiration date. I will remove personal property and return all library books to the Circulation Desk. If I become ineligible or if I no longer need the locker, I will notify the Library Access Office.  
8.	If I violate any of the terms stated above, the assignment may be revoked. 


Please note:  Library staff will regularly check this locker and remove any library books which are not charged out.  Uncharged books are a violation and will be reported to the Library Access Office.  This may result in the termination of the locker assignment.  

      </tr>
    </table>
  </td>
</tr>
