<% content_for :title do %>
Locker Violation
<% end %>
<% if notice.present? %>
  <lux-alert status="<%= notice['type'] %>" dismissible><%= notice['message'] %></lux-alert>
<% end %>

<p>
  <strong>Locker:</strong>
  <%= @locker_violation.locker_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @locker_violation.user_id %>
</p>

<p>
  <strong>Number of books:</strong>
  <%= @locker_violation.number_of_books %>
</p>

<%= render layout: '/shared/related_actions' do %>
  <lux-hyperlink href="<%= edit_locker_violation_path(@locker_violation) %>" variation="button solid">Edit</lux-hyperlink>
  <lux-hyperlink href="<%= locker_violations_path %>" variation="button solid">Back</lux-hyperlink>
<% end %>
