
  <lux-card size="full-width">
   <lux-grid-container>
    <lux-grid-item columns="lg-2 md-4 sm-12">
      <strong>Start Date:</strong>
      <span><%= locker_assignment.start_date %></span>
    </lux-grid-item>
    <lux-grid-item columns="lg-2 md-4 sm-12">
      <strong>Expiration Date:</strong>
      <span><%= locker_assignment.expiration_date %></span>
    </lux-grid-item>
    <lux-grid-item columns="lg-2 md-4 sm-12">
      <strong>Released Date:</strong>
      <span><%= locker_assignment.released_date %></span>
    </lux-grid-item>
    <lux-grid-item columns="lg-2 md-4 sm-12">
      <strong>Applicant:</strong>
      <span><%= locker_assignment.uid %></span>
    </lux-grid-item>
    <lux-grid-item columns="lg-2 md-4 sm-12">
      <strong>Location:</strong>
      <span><%= locker_assignment.location %></span>
    </lux-grid-item>
    <lux-grid-item columns="lg-2 md-4 sm-12">
      <%= link_to 'Edit', edit_locker_assignment_path(locker_assignment) %> |
      <%= link_to 'Card', card_locker_assignment_path(locker_assignment), target: :_blank %> |
      <%= link_to 'Release Locker', release_locker_assignment_path(locker_assignment) %>
    </lux-grid-item>
   </lux-grid-container>
</lux-card>
