<% content_for :title do %>
Locker card
<% end %>
<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="800px">
  <tr>
    <td style="padding: 20px 20px 0; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #001123;" colspan="2">
      <h1 style="margin: 0 0 10px 0; font-family: sans-serif; font-size: 25px; line-height: 30px; font-weight: normal;"><%= "#{@locker_assignment&.locker&.building&.name} Locker Assignment" %></h1>
    </td>
  </tr>
  <tr>
    <td style="padding: 5px 20px 0 20px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #001123;"  colspan="2">
      <p style="margin: 0 0 5px 0; font-family: sans-serif; font-size: 18px; line-height: 22px; color: #333333;"><%= @locker_assignment.name %> </p>
    </td>
  </tr>
  <tr>
    <td style="padding: 5px 20px 0 20px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #001123;">
      <p style="margin: 0 0 5px 0; font-family: sans-serif; font-size: 18px; line-height: 22px; color: #333333;"><%= @locker_assignment.status_at_application %> </p>
    </td>
    <td style="padding: 5px 20px 0 20px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #001123;">
      <p style="margin: 0 0 5px 0; font-family: sans-serif; font-size: 18px; line-height: 22px; color: #333333;"> <%= @locker_assignment.department %></p>
    </td>
  </tr>
  <tr>
    <td style="padding: 5px 20px 0 20px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #001123;">
      <p style="margin: 0 0 5px 0; font-family: sans-serif; font-size: 18px; line-height: 22px; color: #333333;"><b><%= @locker_assignment.location %></b></p>
    </td>
  </tr>
<table>
