<%= form_with(model: study_room_assignment, local: true) do |form| %>
  <% if study_room_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(study_room_assignment.errors.count, "error") %> prohibited this study_room_assignment from being saved:</h2>

      <ul>
      <% study_room_assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :study_room_id %>
    <%= form.text_field :study_room_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
