<% content_for :title do %>
Study Room Assignment
<% end %>
<% if notice.present? %>
  <lux-alert status="<%= notice['type'] %>" dismissible><%= notice['message'] %></lux-alert>
<% end %>

<p>
  <strong>Start date:</strong>
  <%= @study_room_assignment.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @study_room_assignment.expiration_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @study_room_assignment.user %>
</p>

<p>
  <strong>Study room:</strong>
  <%= @study_room_assignment.study_room %>
</p>

<%= render layout: '/shared/related_actions' do %>
  <lux-hyperlink href="<%= edit_study_room_assignment_path(@study_room_assignment) %>" variation="button solid">Edit</lux-hyperlink>
  <lux-hyperlink href="<%= study_room_assignments_path %>" variation="button solid">Back</lux-hyperlink>
<% end %>
