<% if notice.present? %>
<card id="notice" size="full-width">
  <%= notice %>
</card>
<% end %>


<p>
  <strong>Start date:</strong>
  <%= @study_room_assignment.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @study_room_assignment.expiration_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @study_room_assignment.user %>
</p>

<p>
  <strong>Study room:</strong>
  <%= @study_room_assignment.study_room %>
</p>

<%= link_to 'Edit', edit_study_room_assignment_path(@study_room_assignment) %> |
<%= link_to 'Back', study_room_assignments_path %>
