<% content_for :title do %>
Locker <%=@locker.location %>
<% end %>
<% if notice.present? %>
  <lux-alert status="<%= notice['type'] %>" dismissible><%= notice['message'] %></lux-alert>
<% end %>

<lux-card size="full-width"> 
    <lux-heading level="h1" size="h2">Locker <%=@locker.location %></lux-heading>
   <lux-grid-container>
    <lux-grid-item columns="lg-1 md-2 sm-12">
      <strong>Size:</strong>
      <span><%= @locker.size %></span>
    </lux-grid-item>
    <lux-grid-item columns="lg-3 md-4 sm-12">
      <strong>General area:</strong>
      <span><%= @locker.general_area %></span>
    </lux-grid-item>
    <lux-grid-item columns="lg-2 md-3 sm-12">
      <strong>Accessible:</strong>
      <span><%= @locker.accessible %></span>
    </lux-grid-item>
    <lux-grid-item columns="lg-3 md-4 sm-12">
      <strong>Combination:</strong>
      <span><%= @locker.combination %></span>
    </lux-grid-item>
    <lux-grid-item columns="lg-2 md-3 sm-12">
      <strong>Code:</strong>
      <span><%= @locker.code %></span>
    </lux-grid-item>
    <lux-grid-item columns="lg-2 md-4 sm-12">
      <strong>Tag:</strong>
      <span><%= @locker.tag %></span>
    </lux-grid-item>
    <lux-grid-item columns="lg-2 md-3 sm-12">
      <strong>Discs:</strong>
      <span><%= @locker.discs %></span>
    </lux-grid-item>
    <lux-grid-item columns="lg-2 md-3 sm-12">
      <strong>Clutch:</strong>
      <span><%= @locker.clutch %></span>
    </lux-grid-item>
    <lux-grid-item columns="lg-2 md-4 sm-12">
      <strong>Hubpos:</strong>
      <span><%= @locker.hubpos %></span>
    </lux-grid-item>
    <lux-grid-item columns="lg-2 md-4 sm-12">
      <strong>Key number:</strong>
      <span><%= @locker.key_number %></span>
    </lux-grid-item>
    <lux-grid-item columns="lg-2 md-4 sm-12">
      <strong>Floor:</strong>
      <span><%= @locker.floor %></span>
    </lux-grid-item>
    <lux-grid-item columns="lg-12 md-12 sm-12">
      <strong>Notes:</strong>
      <span><%= @locker.notes %></span>
    </lux-grid-item>
   </lux-grid-container>
</lux-card>
<%= render layout: '/shared/related_actions' do %>
  <lux-hyperlink href="<%= edit_locker_path(@locker) %>" variation="button solid">Edit</lux-hyperlink>
  <lux-hyperlink href="<%= lockers_path %>" variation="button solid">Back</lux-hyperlink>
<% end %>
<% if @locker.current_assignment.present? %>
<lux-card size="full-width">
  <lux-heading level="h2" size="h4">Currently Assigned to Applicant</lux-heading>
   <lux-grid-container>
    <lux-grid-item columns="lg-3 md-6 sm-12">
      <strong>Start date:</strong>
      <%= link_to @locker.current_assignment.uid, locker_assignment_path(@locker.current_assignment) %>
    </lux-grid-item>
    <lux-grid-item columns="lg-3 md-6 sm-12">
      <strong>Start date:</strong>
      <%= @locker.current_assignment.start_date %>
    </lux-grid-item>
    <lux-grid-item columns="lg-3 md-6 sm-12">
      <strong>Expiration date:</strong>
      <%= @locker.current_assignment.expiration_date %>
    </lux-grid-item>
   </lux-grid-container>
</lux-card>
<%end %>
