<%= form_with(model: locker_application, local: true) do |form| %>
  <% if locker_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(locker_application.errors.count, "error") %> prohibited this locker_application from being saved:</h2>

      <ul>
      <% locker_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :preferred_size %>
    <%= form.select :preferred_size, LockerAndStudySpaces.config.fetch(:locker_sizes,[]) %>
  </div>

  <div class="field">
    <%= form.label :preferred_general_area %>
    <%= form.select :preferred_general_area, LockerAndStudySpaces.config.fetch(:general_locations,[]) %>
  </div>

  <div class="field">
    <%= form.label :accessible %>
    <%= form.check_box :accessible %>
  </div>

  <div class="field">
    <%= form.label :semester %>
    <%= form.select :semester, LockerAndStudySpaces.config.fetch(:semesters,[]) %>
  </div>

  <div class="field">
    <%= form.label :staus_at_application %>
    <%= form.text_field :staus_at_application %>
  </div>

  <div class="field">
    <%= form.label :department_at_application %>
    <%= form.text_field :department_at_application %>
  </div>

  <% if current_user.admin? %>
    <div class="field">
      <%= form.label :user_uid %>
      <%= form.text_field :user_uid %>
    </div>
  <% else %>
    <%= form.hidden_field :user_uid , value: locker_application.applicant %>
  <% end %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
