<% if notice.present? %>
<card id="notice" size="full-width">
  <%= notice %>
</card>
<% end %>


<h1>Locker Applications</h1>

<card size="full-width">
  <%= button_to archive_display_text(@archived), awaiting_assignment_locker_applications_path, params: { archived: !@archived }, method: :get %>
</card>

<%= render partial: "index_view", collection: @locker_applications, as: :locker_application %>

<br>

<%# Note the double equals sign "==" which marks the output as trusted and html safe: %>
<%== pagy_nav(@pagy) %>

<%= link_to 'Firestone Library Locker Application', new_locker_application_path %>
