<% content_for :title do %>
Applications awaiting assignment
<% end %>

<% if notice.present? %>
  <lux-alert status="<%= notice['type'] %>" dismissible><%= notice['message'] %></lux-alert>
<% end %>

<h1><%= current_user&.building&.name %> Locker Applications</h1>

<lux-card size="full-width">
  <%= button_to archive_display_text(@archived), awaiting_assignment_locker_applications_path, params: { archived: !@archived, building_id: current_user.building_id }, method: :get %>
</lux-card>

<%= render partial: "index_view", collection: @locker_applications, as: :locker_application %>

<br>

<%# Note the double equals sign "==" which marks the output as trusted and html safe: %>
<%== pagy_nav(@pagy) %>

<%= render layout: '/shared/related_actions' do %>
  <lux-hyperlink href="<%= new_locker_application_path %>" variation="button solid">New Locker Application</lux-hyperlink>
<% end %>

