<% content_for :title do %>
  <%= @study_room&.location %>
<% end %>
<% if notice.present? %>
  <lux-alert status="<%= notice['type'] %>" dismissible><%= notice['message'] %></lux-alert>
<% end %>

<p>
  <strong>Location:</strong>
  <%= @study_room.location %>
</p>

<p>
  <strong>General area:</strong>
  <%= @study_room.general_area %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @study_room.notes %>
</p>

<%= render layout: '/shared/related_actions' do %>
  <lux-hyperlink href="<%= edit_study_room_path(@study_room) %>" variation="button solid">Edit</lux-hyperlink>
  <lux-hyperlink href="<%= study_rooms_path %>" variation="button solid">Back</lux-hyperlink>
<% end %>
