<% content_for :title do %>
  <%= controller_name.humanize.titleize %>
<% end %>
<% if notice.present? %>
  <lux-alert status="<%= notice['type'] %>" dismissible><%= notice['message'] %></lux-alert>
<% end %>

<h1> <%= controller_name.humanize.titleize %> </h1>

<lux-data-table caption="Upcoming messages"
  :columns="[
    { 'name': 'schedule', 'display_name': 'Date scheduled', 'datatype': 'date', 'sortable': true },
    { 'name': 'applicable_range', 'display_name': 'Range covered' },
    { 'name': 'show', 'display_name': 'Show'},
    { 'name': 'edit', 'display_name': 'Edit'}
  ]"
  :json-data="[
    <% @upcoming_messages.each do |scheduled_message| %>
      {
        'schedule': '<%= scheduled_message.schedule %>',
        'applicable_range': '<%= daterange_to_string(scheduled_message.applicable_range) %>',
        'results': '<%= scheduled_message.results %>',
        'show': { 'value': 'Show', link: '<%= url_for scheduled_message %>'},
        'edit': { 'value': 'Edit', link: '<%= edit_scheduled_message_path(scheduled_message) %>'}
      },
    <% end %>]"/>
</lux-data-table>


<%= render layout: '/shared/related_actions' do %>
  <lux-hyperlink href="<%= new_scheduled_message_path %>" variation="button solid">Schedule a new message</lux-hyperlink>
<% end %>


<lux-data-table caption="Sent messages"
    :columns="[
      { 'name': 'schedule', 'display_name': 'Date scheduled', 'datatype': 'date', 'sortable': true },
      { 'name': 'applicable_range', 'display_name': 'Range covered' },
      { 'name': 'template', 'display_name': 'Email template' },
      { 'name': 'user_filter', 'display_name': 'User filter' },
      { 'name': 'results', 'display_name': 'Results' },
      { 'name': 'show', 'display_name': 'Show'}
    ]"
    :json-data="[
    <% @sent_messages.each do |scheduled_message| %>
      {
        'schedule': '<%= scheduled_message.schedule %>',
        'applicable_range': '<%= daterange_to_string(scheduled_message.applicable_range) %>',
        'template': '<%= scheduled_message.template %>',
        'user_filter': '<%= scheduled_message.user_filter %>',
        'results': '<%= scheduled_message.results %>',
        'show': { 'value': 'Show', link: '<%= url_for scheduled_message %>'}

      },
    <% end %>]"/>
</lux-data-table>
