<!DOCTYPE html>
<html lang="en-US" class="loading">
  <head>
    <style>.loading { display: none }</style>
    <title>LockerAndStudySpaces</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
  </head>

  <body>
    <library-header app-name="Firestone Locker and Study Rooms" abbr-name="Lockers" app-url="<%= root_path %>" class="lux" :max-width=1440 theme="dark">
      <menu-bar type="main-menu" :menu-items="[
        <% if current_user&.admin && current_user&.works_at_enabled_building? %>
          {name: 'Reporting', component: 'Reporting', children: [
            {name: 'Locker Assignments by Department', component: 'Locker Assignments by Department', href: '/locker_assignments/assignment_report'},
            {name: 'Locker Occupancy by Location', component: 'Locker Occupancy by Location', href: '/locker_assignments/occupancy_report'},
          ]},  
          {name: 'Locker Management', component: 'Locker Management', children: [
            {name: 'Lockers', component: 'Lockers', href: '/lockers/'},
            {name: 'Assign Lockers', component: 'Assing Lockers', href: '/locker_applications/awaiting_assignment'},
            {name: 'All Applications', component: 'All Applications', href: '/locker_applications/'},
            {name: 'Assignments', component: 'Assignments', href: '/locker_assignments/'},
            {name: 'New Locker', component: 'New Locker', href: '/lockers/new'},
            {name: 'Renewal Emails', component: 'Renewal Emails', href: '/locker_renewal_messages'},
          ]},  
          {name: 'Study Room Management', component: 'Study Room Management', children: [
            <% StudyRoom.general_areas.each do |area| %>
            {name: 'Assign <%= area %>', component: 'Assign <%= area %>', href: '<%= assign_users_study_rooms_path(general_area: area) %>'  },
            <% end %>
            {name: 'Study Rooms', component: 'Study Rooms', href: '/study_rooms/'},
            {name: 'Assignments', component: 'Assignments', href: '/study_room_assignments/'},
          ]},  
        <% end %>
        {name: 'Logout', component: 'Logout', href: '/sign_out'},
      ]"></menu-bar>
    </library-header>
    <div class="lux">
      <%= yield %>
    </div>
  </body>
</html>
